<a href="https://colab.research.google.com/github/HarshSinha-1/MachineLearning/blob/main/Data_Preprocessing(PipeLine).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DATA PROCESSING

In [ ]:
data = pd.read_csv('/content/sample_data/loan_data_train.csv')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              2199 non-null   float64
 1   Amount.Requested                2199 non-null   object
 2   Amount.Funded.By.Investors      2199 non-null   object
 3   Interest.Rate                   2200 non-null   object
 4   Loan.Length                     2199 non-null   object
 5   Loan.Purpose                    2199 non-null   object
 6   Debt.To.Income.Ratio            2199 non-null   object
 7   State                           2199 non-null   object
 8   Home.Ownership                  2199 non-null   object
 9   Monthly.Income                  2197 non-null   float64
 10  FICO.Range                      2200 non-null   object
 11  Open.CREDIT.Lines               2196 non-null   object
 12  Revolving.CREDIT.Balance        2197 non-null   object
 13  Inquiries.in.the.Last.6.Months  2197 non-null   float64
 14  Employment.Length               2131 non-null   object
dtypes: float64(3), object(12)
memory usage: 257.9+ KB

In [ ]:
#ignore columns: ID{unique ID}, Interest, Rate{target}

#info : numeric; data type: object ; typecasting

#Amount.requested
#Amount.funded,by,investors
#Open.CREDIT.Lines
#Revolving.CREDIT.Balance

##info : categorical (Can take any  )

#Loan.Length
#Loan.Purpose

###Info: numeric, datatype: categorical, custom function

#Debt.To.Income.Ratio
#FICO.Range
#Employment.Length


###Info : numeric , dataType :numeric
   #Monthly.Income
   #Inquiries.in.the.Last.6.Months

In [ ]:
data.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year
3,80167.0,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years
4,17240.0,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years

In [ ]:
data['Loan.Purpose'].value_counts(dropna=False)

Loan.Purpose
debt_consolidation    1147
credit_card            394
other                  174
home_improvement       135
major_purchase          84
small_business          80
car                     45
wedding                 35
medical                 26
moving                  25
house                   19
vacation                18
educational             14
renewable_energy         3
NaN                      1
Name: count, dtype: int64

In [ ]:
data.shape

(2200, 15)

In [ ]:
data['Home.Ownership'].value_counts(dropna=False)

Home.Ownership
MORTGAGE    1018
RENT         999
OWN          177
OTHER          4
NaN            1
NONE           1
Name: count, dtype: int64

In [ ]:
data['FICO.Range'].value_counts(dropna=False)

FICO.Range
670-674    151
675-679    144
680-684    141
695-699    138
665-669    129
690-694    127
705-709    117
685-689    116
700-704    115
720-724    107
660-664    106
710-714    102
730-734     84
725-729     78
715-719     73
735-739     54
750-754     54
745-749     51
740-744     45
760-764     40
755-759     37
765-769     33
780-784     27
775-779     19
790-794     18
785-789     17
770-774     16
800-804     13
795-799     12
805-809      9
810-814      7
815-819      6
640-644      5
645-649      3
655-659      3
820-824      1
830-834      1
650-654      1
Name: count, dtype: int64

In [ ]:
cat_to_num_cols = ['Amount.requested','Amount.funded.by.investors','Open.CREDIT.Lines','Revolving.CREDIT.Balance']

In [ ]:
simple_num_col = ['Monthly.Income','Inquiries.in.the.Last.6.Months','State','Home.Ownership']

In [ ]:
dir_col = data['Debt.To.Income.Ratio']

In [ ]:
def custom_dir(dir_col):
      temp = dir_col.str.replace('%','')
      num = pd.to_numeric(temp)

      return num
custom_dir(dir_col)

0       27.56
1       13.39
2        3.50
3       19.62
4       23.79
        ...
2195    12.10
2196    14.16
2197    15.03
2198    11.63
2199     3.83
Name: Debt.To.Income.Ratio, Length: 2200, dtype: float64

In [ ]:
# a = data['FICO.Range'].str.split('-',expand=True)
# print(a)

b = data['FICO.Range']

In [ ]:
def custom_dir2(dir_col):
      temp = dir_col.str.split('-',expand=True) #expand
      num = (pd.to_numeric(temp[0], errors='coerce')+pd.to_numeric(temp[1], errors='coerce'))/2
      return num
custom_dir2(b)

0       722.0
1       712.0
2       692.0
3       712.0
4       732.0
        ...
2195    677.0
2196    702.0
2197    677.0
2198    672.0
2199    712.0
Length: 2200, dtype: float64

In [ ]:
a = data['Employment.Length']

In [ ]:
a

0         5 years
1         4 years
2        < 1 year
3       10+ years
4       10+ years
          ...
2195    10+ years
2196      2 years
2197      6 years
2198      4 years
2199      2 years
Name: Employment.Length, Length: 2200, dtype: object

In [ ]:
data['Employment.Length'].value_counts(dropna=False)

Employment.Length
10+ years    575
< 1 year     229
2 years      217
3 years      203
5 years      181
4 years      162
1 year       159
6 years      134
7 years      109
8 years       95
NaN           69
9 years       66
.              1
Name: count, dtype: int64

In [ ]:
def custom_el(el_col):
  temp = el_col.replace({'5 years': 5,'4 years':4,'< 1 year':0,'10+ years':10,'1 year':1,'3 years':3,'9 years':9,'7 years':7})
  num = pd.to_numeric(temp,errors='coerce')
  return num

custom_el(a)

0        5.0
1        4.0
2        0.0
3       10.0
4       10.0
        ...
2195    10.0
2196     NaN
2197     NaN
2198     4.0
2199     NaN
Name: Employment.Length, Length: 2200, dtype: float64

In [ ]:
import warnings
warnings.filterwarnings('ignore')
import sys
sys.path.append('/content/sample_data/ml_utils.py')

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving ml_utils.py to ml_utils.py

In [ ]:
import ml_utils as mt

In [ ]:
cat_to_num_cols = ['Amount.Requested','Amount.Funded.By.Investors','Open.CREDIT.Lines','Revolving.CREDIT.Balance']
# columns which contain numeric info but only require simple typecasting
cat_to_dummies_cols=['Loan.Length','Loan.Purpose','State','Home.Ownership']
# groups of columns for which we need to create dummies
simple_num_cols=['Monthly.Income','Inquiries.in.the.Last.6.Months']
# columns which are all ready numeric and contain numeric information
custom_func_dict_cols={'Debt.To.Income.Ratio':custom_dir,'FICO.Range':custom_dir2,'Employment.Length':custom_el}
# columnswhich require custom processing to extract numeric information from the data

In [ ]:
ld_pipe = mt.DataPipe(cat_to_dummies=cat_to_dummies_cols,
                  cat_to_num=cat_to_num_cols,
                  simple_num=simple_num_cols,
                  custom_func_dict=custom_func_dict_cols)

In [ ]:
ld_pipe.fit(data)

In [ ]:
x_train=ld_pipe.transform(data)

In [ ]:
data_test = pd.read_csv('/content/sample_data/loan_data_test.csv')

In [ ]:
x_test = ld_pipe.transform(data_test)

In [ ]:
x_test.shape

(300, 49)

In [ ]:
x_train.shape

(2200, 49)

In [ ]:
x_test.head()

,Loan.Length_36 months,Loan.Length_60 months,Loan.Purpose_debt_consolidation,Loan.Purpose_credit_card,Loan.Purpose_other,Loan.Purpose_home_improvement,Loan.Purpose_major_purchase,Loan.Purpose_small_business,Loan.Purpose___other__,Loan.Purpose_car,...,Home.Ownership_OWN,Amount.Requested,Amount.Funded.By.Investors,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Monthly.Income,Inquiries.in.the.Last.6.Months,Debt.To.Income.Ratio,FICO.Range,Employment.Length
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,5000.0,5000.0,13.0,7686.0,4416.67,0.0,12.59,692.0,0.0
1,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,18000.0,18000.0,6.0,11596.0,5258.50,0.0,4.93,712.0,10.0
2,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,7200.0,7200.0,13.0,7283.0,3750.00,0.0,25.16,752.0,5.0
3,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,7200.0,7200.0,14.0,4838.0,3416.67,0.0,17.27,792.0,10.0
4,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,22000.0,22000.0,9.0,20181.0,6083.33,0.0,18.28,722.0,5.0

In [ ]:
x_train.head(20)

,Loan.Length_36 months,Loan.Length_60 months,Loan.Purpose_debt_consolidation,Loan.Purpose_credit_card,Loan.Purpose_other,Loan.Purpose_home_improvement,Loan.Purpose_major_purchase,Loan.Purpose_small_business,Loan.Purpose___other__,Loan.Purpose_car,...,Home.Ownership_OWN,Amount.Requested,Amount.Funded.By.Investors,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Monthly.Income,Inquiries.in.the.Last.6.Months,Debt.To.Income.Ratio,FICO.Range,Employment.Length
0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,25000.0,25000.00,11.0,15210.0,8606.56,3.0,27.56,722.0,5.0
1,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,19750.0,19750.00,14.0,19070.0,6737.50,3.0,13.39,712.0,4.0
2,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,2100.0,2100.00,13.0,893.0,1000.00,1.0,3.50,692.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,28000.0,28000.00,12.0,38194.0,7083.33,1.0,19.62,712.0,10.0
4,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,24250.0,17431.82,6.0,31061.0,5833.33,2.0,23.79,732.0,10.0
5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,5400.0,5375.00,2.0,90.0,3000.00,2.0,6.27,787.0,5.0
6,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,16000.0,16000.00,5.0,8474.0,4791.67,0.0,11.27,667.0,5.0
7,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,6400.0,6400.00,11.0,12306.0,6400.00,1.0,9.58,737.0,0.0
8,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,24000.0,23772.15,24.0,56984.0,8333.33,0.0,15.54,742.0,5.0
9,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,8000.0,8000.00,7.0,0.0,3500.00,1.0,0.00,767.0,5.0
10,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9000.0,9000.00,10.0,6490.0,5166.67,0.0,13.76,712.0,10.0
11,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,13000.0,12975.00,8.0,6810.0,10500.00,0.0,8.77,802.0,10.0
12,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,10000.0,10000.00,4.0,13667.0,2541.67,0.0,12.24,682.0,5.0
13,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3600.0,3600.00,10.0,715.0,5113.00,1.0,16.41,692.0,5.0
14,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,7350.0,7350.00,15.0,15093.0,5000.00,1.0,29.82,747.0,4.0
15,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,17000.0,16975.00,17.0,11677.0,4666.67,2.0,12.69,747.0,10.0
16,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,18825.0,18825.00,8.0,17292.0,4583.33,2.0,19.22,682.0,10.0
17,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4200.0,4200.00,7.0,3690.0,2083.33,0.0,14.78,662.0,0.0
18,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,5000.0,1750.04,17.0,15301.0,3416.67,7.0,10.36,672.0,1.0
19,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3700.0,3600.00,6.0,11586.0,4985.00,4.0,10.17,722.0,5.0